body{
    margin:auto;
}
a{
  text-decoration: none;
}
#brand{
  font-size: 30px;
  text-align: center;
  padding-top:2.5% ;
}
#social{
float: right;
margin-top: -59px;
}
.socialLogo{
  height: 49px;
}
#contact{
  display: block;
  margin-right: 4px;
}
header {
  width: 100%;
  background: red;
  color: #ffff;
  height: 110px;
  display: inline-block;
  }
div.gallery {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 12%;
text-align: center;
padding: 10px;
}
div.gallery:hover {
border: 1px solid red;
}

div.gallery img {
width: 80%;
height: 180px;
}
.about{
  margin: 5px;
  display: block;
}
#foot{
  text-align: center;
  padding-top: 1%;
}
footer {
  width: 100%;
  background-color: red;
  color: white;
  height: 50px;
}